@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap:wght@200&family=Montserrat:wght@100;300&family=Roboto:wght@100&display=swap");

:root {
  /* --primary-color: #f8ebb6; */
  --primary-color:rgb(255, 204, 0);
  --secondary-color: #ffffff;
  --neutral-color: #111111;

  --primary-text-color-600: #111111;
  --primary-text-color-400: #444444;
  --secondary-text-color: #f60838;
  --secondary-text-color-200: #666666;
  --neutral-text-color: #ffffff;

  --ff-primary: Montserrat, sans-serif;
  --ff-secondary: Asap, sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-secondary);

  --fw-regular: 400;
  --fw-bold: 600;

  --fs-400: 1rem;
  --fs-600: 1.625rem;
  --fs-body: var(--fs-600);
  --fs-nav: var(--fs-400);
  --fs-primary-heading: var(--fs-400);
  --fs-secondary-body: var(--fs-600);
}
.slick-prev:before,
.slick-next:before{
  color:var(--secondary-color);
  display:block;
 
}

@media (max-width: 480px) {
  :root {
    --fs-mobile-400: 0.6rem;
    --fs-mobile-600: 0.7rem;
    --fs-body: var(--fs-600);
    --fs-nav: var(--fs-400);
    --fs-primary-heading: var(--fs-400);
    --fs-secondary-heading: var(--fs-600);
  }
  .mobile-h3 {
    text-align: left;
    font-size:var(--fs-mobile-600);
    margin-top: 40px;
    color:var(--primary-text-color-600);
  }
  .mobile-link-no-underline {
    text-align: right;
    font-size:var(--fs-mobile-400);
    display: block;
    /* margin: 0 auto; */
    /* margin-top: 40px; */
    padding: 8px 10px;
    text-decoration: none;
    color: var(--primary-text-color-400); 
  }
}

@media (min-width: 768px) {
  .desktop-h3 {
    text-align: left;
    font-size: 1.5rem;
    margin-top: 40px;
    color:var(--primary-text-color-600);
  }
  .desktop-link-no-underline {
    text-align: left;
    font-size: 0.8rem;
    text-decoration: none;
    color: var(--primary-text-color-400);
  }
}
.h3 {
  display: block;
  text-align: left;
  margin-top: 30px;
}
body {
  background: var(--secondary-color);
}
.app {
  margin: 0 auto;
}
.slick-slide > div {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
} 
 /* .card {
  border: 1px solid var(--secondary-color);
  background: var(--primary-text-color);
  border-radius: 8px;
  overflow: visible;
  height: 350px;
  width:90%;
  color: var(--neutral-text-color);
  cursor: pointer;
 } */
 
.card-top  img {
  width: 100%; 
  height: 300px;
  object-fit: cover;
  
}
.h4 {
  text-align: center;
  margin-left: 20px;
}
.link a {
  text-decoration: none;
  margin-bottom: 35px;
  text-align: right;
  display: block;
  color: var(--primary-text-color-600);
}
.link:hover a {
  color: var(--secondary-text-color);
}  



 
