content-container {
  display: flex;
}
.slick-arrow {
  color: var(--neutral-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
}
.slick-prev {
  left: 20px;
}

.slick-next {
  right: 20px;
}
.slick-dots {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.slick-dots li {
  margin: 0 5px;
}

.slick-dots li button {
  font-size: 14px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--neutral-color);
  border: 2px solid var(--neutral-color);
}

.slick-dots li.slick-active button {
  background-color: var(--secondary-color);
}

.content-container {
  display: flex;
  justify-content: space-between;
}

.left-side {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.flexbox2 {
  display: flex;
  align-items: center;
}
.horizontal-div1 {
  margin-top: 10px;
  margin-bottom: 10%;
  color: black;
 
}

.horizontal-div2 {
  margin-bottom: 30px;
  padding: 60px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  color: black;
}
ul {
  list-style-type: none;
}
.icon i {
  position: relative;
  top: 0;
  left: 20px;
  color: var(--secondary-text-color);
  padding: 30px;
}
li {
  display: flex;
  margin: 0;
  padding: 0;
}
.seller-info p {
  margin-left: 20px;
}
.map {
  border-color: grey;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  color: black;
}

/* Right side styles */
.right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
}
.flexbox {
  display: flex;
  align-items: center;
   padding-right: 55px;
}
/* Vertical div styles */
.vertical-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: black;
}
.seller-info {
  margin-right: 30px;
}
.vertical-div-text {
  margin-left: -85%;
  padding-top: 105px;
  padding-left: 15%;
}
.icon {
  margin-right: 25px;
}
.underline {
  border-bottom: 2px solid;
  padding-bottom: 5px;
  width: fit-content;
  border-color: var(--secondary-text-color);
}
.grey {
  border-color: rgb(238, 233, 233);
}
.imgcontainer1 {
  font-size: xx-small;
  
}

@media (max-width: 768px) {
  .imgcontainer1 {
      margin: 10px;  
      
    
  }
  .content-container {
    display: flex;
    flex-direction: column;
   
  }
  .right-side {
    display: flex;
    justify-content: center;
    align-items: center; 
    
    width:100%; 
    padding: 50%;
    padding-top: 5px;
    margin-left: 10px; 
 
  }
  .flexbox {
    display: flex;
    align-items: center;
  }
  ul {
    padding: 0px;
    width: max-content;
  }
  .horizontal-div2 {
    padding: 35%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding-top: 5px;
    margin-left: 10px;
    /* width: 100%; */
  }
  .map {
    padding: 35%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding-top: 5px;
    /* width: 100%; */
  }

  .horizontal-div1 span {
    margin-right: 10px;
  }
  .icon i {
    position: relative;
    top: 0;
    left: 10px;
    color: var(--secondary-text-color);
    padding: 20px;
  }
}
