.register-line-line {
  width: 40%;
  height: 80%;
  border-top: 4px solid var(--primary-color);
  text-decoration: none;
}
.register-line-line::before,
.register-line-line::after {
  content: "";
  position: absolute;
  width: 60%;
}
.register-line-line::before {
  left: -10;
  border-top: 1px solid var(--neutral-color);
}
.register-line-line::after {
  right: 0;
}
@media screen and (max-width: 480px) {
  .register-line {
    width: 40%;
    height: 80%;
    border-top: 4px solid var(--primary-color);
    text-decoration: none;
  }
  .custom-button-Register{
    color:var(--neutral-color);
    border-radius: 18px;
  }
  .custom-button-Register:hover{
    background-color:var(--hover-color);
  }
}
@media screen and (min-width: 768px) {
  .custom-button-Register {
    color:var(--neutral-color);
    border-radius: 18px;
    padding: 15px;
    width: 150px;
  }
  .custom-button-Register:hover{
    background-color:var(--hover-color);
  }
} 

  
 
  