.className {
  display: "block";
  background: "green";
  width: "4vw";
  height: "4vw";
  background: "#333";
  border-radius: "50%";
  display: "flex";
  justify-content: "center";
  align-items: "center";
  cursor: "pointer";
  position: "absolute";
  top: "50%";
  transform: "translateY(-50%)";
  z-index: 1;
}
