.line {
  width: 10%;
  height: 80%;
  border-top: 4px solid var(--primary-color);
  text-decoration: none;
}
.line::before,
.line::after {
  content: "";
  position: absolute;
  width: 60%;
}
.line::before {
  left: -10;
  border-top: 1px solid var(--neutral-color);
}
.line::after {
  right: 0;
}
@media screen and (max-width: 480px) {
  .custom-button {
    color: var(--neutral-color);
    border-radius: 18px;
  }
  .custom-button:hover {
    background-color: var(--hover-color);
  }
}

@media screen and (min-width: 768px) {
  .custom-button {
    color: var(--neutral-color);
    border-radius: 18px;
    padding: 15px;
    width: 150px;
  }
  .custom-button:hover {
    background-color: var(--hover-color);
  }
}
