.bannerslider{
    width: 200%;
    overflow: hidden;
    height: 100%;
    position: relative;
}

.bannerslider .imgcontainer{
    background-color: black;
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.bannerslider.imgcontainer img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
} 
