@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
  font-family: 'Poppins', sans-serif;
} 
:root {
  --primary-color:#f8ebb6; 
  --secondary-color: #ff9800; 
  --primary-text-color:black; 
  --secondary-text-color: #f60838 ; 
}
.navbar{
    background-color:var(--primary-color);
    color:var(--primary-text-color);
}
@media (max-width: 480px) {
  .button .btn{
   color:#f60838;   
  }
}
.footer {
  padding: 2rem 0;
  margin-top:15rem;
  color: white;
  background-color:var(--primary-color); 
} 
.footer-icons i {
  padding: 0.4rem 0.5rem;
  color:var(--secondary-text-color);
  margin: 0 0.5rem;
  border-radius: 50%;
}
.footer-icons i:hover {
  background:var(--secondary-text-color);
  color: #fff;
  transition: 0.6s;
  cursor: pointer;
}
.first-footer{
  color:var(--secondary-text-color);
}
.footer-icons{
  text-align: right; 
}
.last-footer {
  background:var(--primary-text-color);
  color: white;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.last-footer .up-arrow{
position:absolute;
right:6%;
} 
.slider-text 
{
display: block;
text-align: left;
margin-top: 30px;  
}
/* popular categories styling */
body {
  background: #ccc;
}
.App {
  width: 100%;
  margin: 0 auto;
}
.slick-slide > div {
  margin: 0 10px;
} 
.slick-list {
  margin: 0 -10px;
}  
.card {
  border: 1px solid #fff;
  background:var(--primary-text-color);
  border-radius: 8px;
  overflow: hidden;
  height: 600px;
  color: #fff;
  cursor: pointer;
}
.card-top >img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  background:var(--primary-text-color);
}
.card-bottom {
  margin: 10px 20px;
}  
.link a {
  text-decoration: none;
  margin-bottom: 35px; 
  text-align: right; 
  display:block; 
  color:var(--primary-text-color);
}
.link:hover a{
  color:var(--secondary-text-color);
}
/* //footer styling */
section.d-map {
  padding: 6rem 0;
  background:var(--secondary-text-color);
}



