@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
  font-family: 'Poppins', sans-serif;
} 
:root {
  --primary-color:#f8ebb6; 
  --secondary-color: #ff9800; 
  --primary-text-color:black; 
  --secondary-text-color: #f60838 ; 
}
.navbar{
    background-color:var(--primary-color);
    color:var(--primary-text-color);
}
/* Mobile-first styles */
@media (max-width: 480px) {
.navbar-brand img {
  width: 60px; 
  height: 40px; 
 } 
  /* Center-align the Navbar.Brand (logo) */
.navbar-nav {
  display: flex;
  justify-content:center;
  align-items:center;
  margin-left: 10%;
}
  /* Push the Navbar.Collapse content to the right */
.navbar-nav {
  flex-direction: row-reverse;
}
/* Style the Sell button */
.navbar .btn-sell {
  margin-right: 20px; 
}
.mobile-h3 {
  text-align: left;
  font-size: 0.6rem;
}
.mobile-link-no-underline {
  text-align:right;
  font-size: 0.5rem;
  display: block;
  margin: 0 auto;
  padding: 8px 16px;
  text-decoration: none;
  color: #333;
} 
}
/* Add styles for screens larger than 767px */
@media (min-width: 768px) {
.navbar-brand img {
  width: 100px; 
  height: 50px;
}
/* Reset alignment for the Navbar.Brand (logo) */
.navbar-nav{
  display: inline-block;
  margin-left: 20%;
} 
  /* Reset Navbar.Collapse flex-direction */
.navbar-nav {
  flex-direction: row;
} */
  /* Reset styles for the Sell button */
.navbar .btn-sell {
  margin-right: 10px; 
}
.desktop-h3 {
  text-align: left;
  font-size: 1.5rem;
}
.desktop-link-no-underline {
  text-align: left;
  font-size: 0.8rem;
  text-decoration: none;
  color: #333;
} 
}
.footer {
  padding: 2rem 0;
  margin-top:15rem;
  color: white;
  background-color:var(--primary-color); 
} 
.footer-icons i {
  padding: 0.4rem 0.5rem;
  color:var(--secondary-text-color);
  margin: 0 0.5rem;
  border-radius: 50%;
}
.footer-icons i:hover {
  background:var(--secondary-text-color);
  color: #fff;
  transition: 0.6s;
  cursor: pointer;
}
.first-footer{
  color:var(--secondary-text-color);
}
.footer-icons{
  text-align: right; 
}
.last-footer {
  background:var(--primary-text-color);
  color: white;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.last-footer .up-arrow{
position:absolute;
right:6%;
} 
.h3
{
display: block;
text-align: left;
margin-top: 30px;  
} 
/* popular categories styling */
body {
  background: #ccc;
}
.app {
  width: 100%;
  margin: 0 auto;
}
.slick-slide > div {
  margin: 0 10px;
} 
.slick-list {
  margin: 0 -10px;
}  
.card {
  border: 1px solid #fff;
  background:var(--primary-text-color);
  border-radius: 8px;
  overflow: hidden;
  height: 400px;
  color: #fff;
  cursor: pointer;
}
.card-top >img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  background:var(--primary-text-color);
}
.h4{
  text-align:center;
  margin-left: 20px; 
}  
.link a {
  text-decoration: none;
  margin-bottom: 35px; 
  text-align: right; 
  display:block; 
  color:var(--primary-text-color);
}
.link:hover a{
  color:var(--secondary-text-color);
}
/* //footer styling */
section.d-map {
  padding: 6rem 0;
  background:var(--secondary-text-color);
}



